* {
	padding: 0;
	margin: 0;
	font-family: Tahoma;
}

#content {
	background-color: #fffff0;
	font-size: 20px;
	margin: 0 auto;
	border: 1px solid #fffff0;
	padding: 0 7px;
	width: 98%;
	height: 600px;
	overflow: auto;
	text-align: center;
}

p {
	font-weight: bold;
}